<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>7391652176-std0i6fv5hui0fgbeg2u7pmh8h6jfgdi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7391652176-std0i6fv5hui0fgbeg2u7pmh8h6jfgdi</string>
	<key>API_KEY</key>
	<string>AIzaSyDk01kE8u6fNIsYzTtkCdfRorcOPvm8Kp8</string>
	<key>GCM_SENDER_ID</key>
	<string>7391652176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eir.viewer</string>
	<key>PROJECT_ID</key>
	<string>eir-space-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>eir-space-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7391652176:ios:c971a42201930ef5e96455</string>
</dict>
</plist>